<div class="switch-field">
    <div class="ec-switch-invoice-type field choice">
        <input type="radio" data-bind="event: { change: setChecked }" class="radio" name="order_type"
               id="radio-private"
               value="private" checked="checked">
        <label for="radio-private" data-bind="i18n: 'Private'"></label>
    </div>
    <div class="ec-switch-invoice-type field choice">
        <input type="radio" data-bind="event: { change: setChecked }" class="radio" name="order_type"
               id="radio-business"
               value="business">
        <label for="radio-business" data-bind="i18n: 'Business'"></label>
    </div>
</div>
