<?xml version="1.0"?>
<!--
  ~ Copyright (c) 2020 Hevelop srl (https://hevelop.com). All rights reserved.
  ~ License: https://opensource.org/licenses/agpl-3.0  AGPL-3.0 License
  ~ Author: Samuele Martini <samuele.martini@hevelop.com>
  ~ Package: Hevelop_InvoiceRequest
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_place_before">
        <observer name="ec_save_data_to_order" instance="Hevelop\InvoiceRequest\Observer\SaveDataToOrderObserver"/>
    </event>
</config>
